<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
        <style>
            input[type=text] 
            {
                border: 2px 0000CC;
                text-align: center;
                border-radius: 4px;
            }
            select 
            {
                width: 10%;
                padding: 8px 10px;
                border: none;
                border-radius: 4px;
                background-color: #f1f1f1;
            }
            input[type=submit]
            {
                background-color: #FFF8DC;
                
            }
            body {background-color: #7defdb;}
        </style>
    </head>
    <body>
        <h1 align="center"><b>Mine Explosion</b></h1>
        <center>
        <form action="/predict" method="post">
            <div>
                <label for="seismic">seismic</label>
                <select name="seismic" id="seismic" >
                    <option value="select" default>SELECT</option>
                    <option value="0">a</option>
                    <option value="1">b</option>
                </select>
            </div>

            <div>
                <label for="seismoacoustic">seismoacoustic</label>
                <select name="seismoacoustic" id="seismoacoustic" >
                    <option value="select" default>SELECT</option>
                    <option value="0">a</option>
                    <option value="1">b</option>
                    <option value="2">c</option>
                </select>
            </div>

            <div>
                <label for="shift">shift</label>
                <select name="shift" id="shift" >
                    <option value="select" default>SELECT</option>
                    <option value="0">N</option>
                    <option value="1">W</option>
                </select>
            </div>

            <div>
                <input type="text" name="genergy" placeholder="genergy" required>
            </div>

            <div>
                <input type="text" name="gpuls" placeholder="gpuls" required>
            </div>

            <div>
                <input type="text" name="gdenergy" placeholder="gdenergy" required>
            </div>

            <div>
                <input type="text" name="gdpuls" placeholder="gdpuls" required>
            </div>

            <div>
                <label for="ghazard">ghazard</label>
                <select name="ghazard" id="ghazard" >
                    <option value="select" default>SELECT</option>
                    <option value="0">a</option>
                    <option value="1">b</option>
                    <option value="2">c</option>
                </select>
            </div>

            <div>
                <input type="text" name="nbumps" placeholder="nbumps" required>
            </div>

            <div>
                <input type="text" name="nbumps2" placeholder="nbumps2" required>
            </div>

            <div>
                <input type="text" name="nbumps3" placeholder="nbumps3" required>
            </div>

            <div>
                <input type="text" name="nbumps4" placeholder="nbumps4" required>
            </div>

            <div>
                <input type="text" name="nbumps5" placeholder="nbumps5" required>
            </div>
            
            <div>
                <input type="text" name="nbumps6" placeholder="nbumps6" required>
            </div>
            
            <div>
                <input type="text" name="nbumps7" placeholder="nbumps7" required>
            </div>

            <div>
                <input type="text" name="nbumps89" placeholder="nbumps89" required>
            </div>

            <div>
                <input type="text" name="energy" placeholder="energy" required>
            </div>

            <div>
                <input type="text" name="maxenergy" placeholder="maxenergy" required>
            </div>
            <br>
            <input type="submit"  value="Enter">
        </form>
        <br>
        <b>{{x}}</b>
    </center>
    </body>
</html>